html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  align-items: center;
  justify-content: center;
  background: #BC8F8F;
  display: flex;
}

#body-secundario{
  background: #fffafd;
  display: block;
  margin: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

#conteudo-inicio{
  font-family: 'Special Elite', monospace;
  font-size: 2em;
  color: #FFF;
  border-right: 2px solid #FFF;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.typing-animation{
  animation: cursor 500ms steps(40) infinite normal
    , typing 4s steps(40) 1s normal;
}

@keyframes cursor{
  from{
    border-right-color: #FFF;
  }to{
    border-right-color: transparent;
  }
}

@keyframes typing{
  from{
    width: 0;
  }to{
    width: 45em;
  }
}

a{
  color: #BC8F8F;
  padding: 10px;
  text-decoration: none;
  transition: background .4s;
}

#principal{
  text-align: center;
  padding: 30px;
}

#secundaria{
  text-align: center;
}

#menu{
  background-color: #BC8F8F;
}

#menu ul{
  list-style: none;
  padding: 10px;
}

#menu ul li{
  display: inline;
  margin: 10px;
}

#menu ul li a{
  color: #FFF;
  padding: 10px;
  text-decoration: none;
  transition: background .4s;
}

#menu ul li a:hover{
  background-color:#CD5C5C;
  color: #FFF;
}

section.aboutme{
  position: relative;
  height: calc(100% - 200px);
}

.bola-01{
  position: absolute;
  bottom: 100;
  right: 100;
  width: 400px;
  height: 400px;
  margin: 100px;
  background-color: #BC8F8F;
  border-radius:50%;
}

h1{
  font-size: 4em;
  color: #BC8F8F
}

.bola-01 img{
  height: 350px;
  width: 350px;
  border-radius:50%;
  margin: 25px;
}

article{
  margin-top: 100px;
}

article p{
  margin: 20px 10px;
  padding: 30px 10px;
  color: #BC8F8F;
  font-size: bold;
  max-width: 2000px;
}

#idLinkedInIcon{
  background-color:#BC8F8F;
  border-radius:6px;
  color:white;
  cursor:pointer;
  display:inline-block;
  font:bold 40px Arial, Helvetica, sans-serif;
  height:45px;
  margin-top:1px;
  text-align:center;
  width:45px;
  position: relative;
}

#idLinkedInIcon:hover{
  background-color:#BC8F8F;
}